<div class="bb-carousel">
  <h4><%=title %></h4>

  <div class="bb-random-image"></div>

  <ul class="bb-carousel-list"></ul>

  <a id='prev' class='fa fa-arrow-left fa-2x'></a>
  <a id='next' class='fa fa-arrow-right fa-2x'></a>
</div>
